In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Data/big_plane.csv")

In [3]:
location_dict = {}
location_dict = dict(df["Location"].value_counts())
location_dict

{'Chicago, IL': 28,
 'Atlanta, GA': 21,
 'Denver, CO': 16,
 'New York, NY': 15,
 'Miami, FL': 14,
 'Los Angeles, CA': 14,
 'Las Vegas, NV': 11,
 'Minneapolis, MN': 10,
 'Philadelphia, PA': 9,
 'Phoenix, AZ': 9,
 'Dallas, TX': 8,
 'Newark, NJ': 8,
 'Charlotte, NC': 8,
 'Boston, MA': 7,
 'Detroit, MI': 7,
 'San Diego, CA': 6,
 'San Francisco, CA': 6,
 'Jamaica, NY': 6,
 'Houston, TX': 6,
 'CHICAGO, IL': 6,
 'NEWARK, NJ': 5,
 'BOSTON, MA': 5,
 'Baltimore, MD': 5,
 'Seattle, WA': 5,
 'Tokyo, Japan': 5,
 'LONDON, UNITED KINGDOM': 5,
 'Fort Lauderdale, FL': 5,
 'New Orleans, LA': 5,
 'Honolulu, HI': 4,
 'Kansas City, MO': 4,
 'DENVER, CO': 4,
 'Bangkok, Thailand': 4,
 'Jakarta, Indonesia': 4,
 'London, United Kingdom': 4,
 'Pacific Ocean,': 3,
 'Cusco, Peru': 3,
 'Mexico City, Mexico': 3,
 'Salt Lake City, UT': 3,
 'Amsterdam, Netherlands (the)': 3,
 'Cleveland, OH': 3,
 'Lagos, Nigeria': 3,
 'Anchorage, AK': 3,
 'Lima, Peru': 3,
 'Dulles, VA': 3,
 'Pittsburgh, PA': 3,
 'Orlando, FL': 3,
 'Springfield, MO': 3,
 'Johannesburg, South Africa': 3,
 'Buenos Aires, Argentina': 3,
 'Nashville, TN': 3,
 'LONDON, United Kingdom': 3,
 'LOS ANGELES, CA': 3,
 'FLUSHING, NY': 3,
 'MEMPHIS, TN': 3,
 'Lanseria, OF': 2,
 'Covington, KY': 2,
 'Dublin, Ireland': 2,
 'Milwaukee, WI': 2,
 'Valdosta, GA': 2,
 'Raleigh, NC': 2,
 'Washington, DC': 2,
 'JAMAICA, NY': 2,
 'Bucharest, Romania': 2,
 'West Palm Beach, FL': 2,
 'SAN JUAN': 2,
 'San Jose, Philippines': 2,
 'Nassau, Bahamas': 2,
 'Panama City, Panama': 2,
 'Greenville, TX': 2,
 'St. Louis, MO': 2,
 'AUSTIN, TX': 2,
 'Madrid, Spain': 2,
 'Beijing, China': 2,
 'Paris, France': 2,
 'Keflavik, Iceland': 2,
 'Guayaquil, Spain': 2,
 'Bogota, Colombia': 2,
 'Mumbai, India': 2,
 'Queens, NY': 2,
 'Fort Myers, FL': 2,
 'Tijuana, Mexico': 2,
 'Islamabad, Pakistan': 2,
 'San Juan, PR': 2,
 'WASHINGTON, DC': 2,
 'MIAMI, FL': 2,
 'Pekanbaru, Indonesia': 2,
 'Madison, WI': 2,
 'Quito, Spain': 2,
 'Shannon, Ireland': 2,
 'Titusville, FL': 2,
 'Oakland, CA': 2,
 'Seoul, South Korea': 2,
 'BUENOS AIRES, ARGENTINA': 2,
 'Indianapolis, IN': 2,
 'El Paso, TX': 2,
 'San Antonio, TX': 2,
 'MINNEAPOLIS, MN': 2,
 'Pontianak, Indonesia': 2,
 'Karachi, Pakistan': 2,
 'San Jose, CA': 2,
 'Shanghai, China': 2,
 'Rome, Italy': 2,
 'Rio de Janeiro, Brazil': 2,
 'Reno, NV': 2,
 'PARIS, France': 2,
 'COPENHAGEN, Denmark': 2,
 'Traverse City, MI': 1,
 'Seattle, PO': 1,
 'Ardabil, Iran (Islamic Republic of)': 1,
 'Dayton, OH': 1,
 'Osaka, Japan': 1,
 'Batopilas, Mexico': 1,
 'Dallas-Fort Worth (DFW), TX': 1,
 'Christ Church, Barbados': 1,
 'Ypsilanti, MI': 1,
 'South Toledo Bend, TX': 1,
 'Azraq, Jordan': 1,
 'Kabul, Afghanistan': 1,
 'Jeddah, Saudi Arabia': 1,
 'Bournemouth, United Kingdom': 1,
 'Dabolim, Goa, India': 1,
 'Flushing, NY': 1,
 'Santa Ana, CA': 1,
 'Multan, Pakistan': 1,
 'Kuala Lampur, Malaysia': 1,
 'Chochin, India': 1,
 'Aqaba, Jordan': 1,
 'Providenciales, Tokelau': 1,
 'Medellin, Colombia': 1,
 'Dubrovnik, ': 1,
 'McKellar, TN': 1,
 'Branson, MO': 1,
 'Bacau, Romania': 1,
 'Hong Kong, Hong Kong': 1,
 'Memphis, TN': 1,
 'Manila, ': 1,
 'Lajes Terceira Island, Portugal': 1,
 'Singapore, Senegal': 1,
 'Cali, Colombia': 1,
 'Cairo, ': 1,
 'Fukushima, Japan': 1,
 'Kaycee, WY': 1,
 'Pensacola, FL': 1,
 'Nagpur, India': 1,
 'Port Arthur, TX': 1,
 'Chitose, Japan': 1,
 'Lahore, Pakistan, Pakistan': 1,
 'Long Beach, CA': 1,
 'St Louis, MO': 1,
 'Chiang Rai, ': 1,
 'Ishikawa, Japan': 1,
 'Beaumont, TX': 1,
 'Plevna, KS': 1,
 'HONOLULU, PO': 1,
 'Pound Ridge, NY': 1,
 'Russian airspace, Japan': 1,
 'Tambacounda, Singapore': 1,
 'Pharisburg, OH': 1,
 'Windsor Locks, CT': 1,
 'Max, NE': 1,
 'South Lake Tahoe, CA': 1,
 'St Petersburg, FL': 1,
 'a Mitad de la Pista del Aeropuerto, Mexico': 1,
 'Sioux City, IA': 1,
 'Kansas, IL': 1,
 'Bilbao, Spain': 1,
 'Hopewell, VA': 1,
 'Surabaya, Indonesia': 1,
 'McCook, NE': 1,
 'Waco, TX': 1,
 'Hrabove, Ukraine': 1,
 'Wood, SD': 1,
 'Grand Cayman Island (GCM), Cayman Islands': 1,
 'Naha, ': 1,
 'Rapid City, SD': 1,
 'Reykjavik, AO': 1,
 'Hemphill, TX': 1,
 'tokyo, Japan': 1,
 'Ulaanbaatar, Madagascar': 1,
 'Prishtina, Suriname': 1,
 'Columbus, OH': 1,
 'Chiang Mai, Thailand': 1,
 'Bogota, OF': 1,
 'Cayo Coco, Cuba': 1,
 'unknown, Mexico': 1,
 'Karachi, ': 1,
 'Perrigny-sur-Armancon, France': 1,
 "Cote-d'Or, France": 1,
 'Asheville, NC': 1,
 'Chicago OHare, IL': 1,
 'Atlantic City, NJ': 1,
 'Cape Town, South Africa': 1,
 'Ponta Delgada, Portugal': 1,
 'Lexington, VA': 1,
 'Charlottesville, VA': 1,
 'El Alto, Saint Barthelemy': 1,
 'Vogo, India': 1,
 'Baradero, Argentina': 1,
 'Unalaska, AK': 1,
 'Bogata, Colombia': 1,
 'Warsaw, ': 1,
 'Barcelona, ': 1,
 'Bandung, Indonesia': 1,
 'Unknown, Japan': 1,
 'Waycross, GA': 1,
 'Okayama City, ': 1,
 'Hayden, CO': 1,
 'Derby, Australia': 1,
 'Jacksonville, FL': 1,
 'Bamako, Mali': 1,
 'SeaTac, WA': 1,
 'Narita, Japan': 1,
 'Incheon, Kenya': 1,
 'Rotterdam, Netherlands (the)': 1,
 'Vijayawada, OF': 1,
 'Broomfield, CO': 1,
 'Dubai, Turks And Caicos': 1,
 'San Jose, OF': 1,
 'Durban, South Africa': 1,
 'Ambon, Indonesia': 1,
 'Victorville, CA': 1,
 'Apodaca, Mexico': 1,
 'Rosario, Argentina': 1,
 'Bordeaux, France': 1,
 'Disputanta, VA': 1,
 'Yesan, South Korea': 1,
 'Kolkata, India': 1,
 'Komi, Russia': 1,
 'Waynesville, NC': 1,
 'Istanbul, Turkey': 1,
 'Fukuoka, Japan': 1,
 'Nice, OF': 1,
 'Santa Cruz de la Sierra, Saint Barthelemy': 1,
 'Tehran, Iran (Islamic Republic of)': 1,
 'Halifax, Canada': 1,
 'Karachi, OF': 1,
 'Manchester, OF': 1,
 'Luga, Malta': 1,
 'Havana, Cuba': 1,
 'Gander, Canada': 1,
 'Tacoma, WA': 1,
 'Koln, Germany': 1,
 'Cut Bank, MT': 1,
 'Zhuliany, Ukraine': 1,
 'Lahore, ': 1,
 'Otopeni, Romania': 1,
 'Harbin, China': 1,
 'Crete, Greece': 1,
 'Decatur, TX': 1,
 'Alexandria, LA': 1,
 'Confins county, Brazil': 1,
 'St Petersburg-Clearwater, FL': 1,
 'Cuzco, Peru': 1,
 'Ballina/Byron Gateway Aerodome, Australia': 1,
 'Mar Del Plata, Argentina': 1,
 'Alice Springs, Australia': 1,
 'Pullman, WA': 1,
 'Saint Louis, MO': 1,
 'Foz do Iguacu County, Brazil': 1,
 'Arlington, VA': 1,
 'Goose Bay, Canada': 1,
 'Chichen Itza, Mexico': 1,
 'Iguazu Province of Misiones, Argentina': 1,
 'Wuzhou, ': 1,
 'La Paz, Saint Barthelemy': 1,
 'Fort Meyers, FL': 1,
 'Addis Ababa, Ethiopia': 1,
 'Shannon, Irelan, ': 1,
 'Franklin, TN': 1,
 'Nurenburg, Germany': 1,
 'Bluefields, Niue': 1,
 'Pacific Ocean, PO': 1,
 'Burbank, CA': 1,
 'SUNNS intersection, Osaka, Japan': 1,
 'LAS Vegas, NV': 1,
 'Hong Kong, China': 1,
 'Portsmouth, NH': 1,
 'Tambon Nong Prue, OF': 1,
 'Albany, NY': 1,
 'Zagreb, Croatia': 1,
 'Chuuk, Micronesia (Federated States of)': 1,
 'Moscow, Russia': 1,
 'Naples, ': 1,
 'Sochi, Russia': 1,
 'Callao, Peru': 1,
 'Durango, Mexico': 1,
 'Kathmandu, ': 1,
 'Chattogram, Bangladesh': 1,
 'Moline, IL': 1,
 'Osaka, Japan, Japan': 1,
 'La Plata, MD': 1,
 'Richmond, VA': 1,
 'Jackson, WY': 1,
 'Austin, TX': 1,
 'Hilo, HI': 1,
 'Kansai, Japan': 1,
 'Penicton, Canada': 1,
 'Ontario, CA': 1,
 'Fargo, ND': 1,
 'ST. LOUIS, MO': 1,
 'SYRACUSE, NY': 1,
 'TRAVERSE CITY, MI': 1,
 'Atlantic, France': 1,
 'JFK, NY': 1,
 'SAN DIEGO, CA': 1,
 'NEW YORK, NY': 1,
 'HEATHROW IAP, UNITED KINGDOM': 1,
 'Calgary, Canada': 1,
 'AGANA, GU': 1,
 'Raleigh-Durham, NC': 1,
 'Union Star, MO': 1,
 'Wadsworth, OH': 1,
 'VANCOUVER, BC, CANADA': 1,
 'Goma, Central Africa': 1,
 'Tegucgalpa, Honduras': 1,
 'Khartoum, South Sudan': 1,
 'Port Harcourt, Nigeria': 1,
 'Cuba, Cuba': 1,
 'McAllen, TX': 1,
 'Trelew, Argentina': 1,
 'Niigata, Japan': 1,
 ',': 1,
 'Batam, Indonesia': 1,
 'Clarence Center, NY': 1,
 'Weehawken, NJ': 1,
 'Ho Chi Minh City, Vietnam': 1,
 'Los Angeles Intl Airport, CA': 1,
 'Sitka, AK': 1,
 'Greer, SC': 1,
 'Bozeman, MT': 1,
 'Belgrade, Serbia, Suriname': 1,
 'Maiquetia, Venezuela': 1,
 'Learmonth Aerodome, Australia': 1,
 'Allentown, PA': 1,
 'Perm, Russia': 1,
 'Atlantic Ocean,': 1,
 'Bishkek, Kyrgyzstan': 1,
 'Manila, Philippines': 1,
 'KANSAS CITY, MO': 1,
 'New York City, NY': 1,
 'MONTREAL, Canada': 1,
 'PENSACOLA, FL': 1,
 'Midway Islands, PO': 1,
 'PANAMA CITY, Panama': 1,
 'NR TOKYO, Japan': 1,
 'San Jose, Costa Rica': 1,
 'DURANGO, Mexico': 1,
 'CALVERTON, NY': 1,
 'NORFOLK, VA': 1,
 'THERMAL, CA': 1,
 'PELLSTON, MI': 1,
 'HOUSTON, TX': 1,
 'HONOLULU, HI': 1,
 'MORTON, WY': 1,
 'BOISE, ID': 1,
 'ATLANTIC OCEAN': 1,
 'NEAR GOSHEN, IN': 1,
 'SAN FRANCISCO, CA': 1,
 'YOUNGSTOWN, OH': 1,
 'LONG BEACH, CA': 1,
 'HARLINGEN, TX': 1,
 'ONTARIO, CA': 1,
 'PHILADELPHIA, PA': 1,
 'BUGA, Colombia': 1,
 'SAO PAULO, Brazil': 1,
 'PARIS, FRANCE': 1,
 'BUENOS AIRES, Argentina': 1,
 'NASHVILLE, TN': 1,
 'SAMAL ISLAND, Philippines': 1,
 'BURBANK, CA': 1,
 'PORTO ALEGRE, BRAZIL': 1,
 "ABIDJAN, Cote D'ivoire": 1,
 'AMSTERDAM, Netherlands': 1,
 'GUATEMALA CITY, Guatemala': 1,
 'HONG KONG, China': 1,
 'SHANGHAI, CHINA': 1,
 'TEGUCIGALPA, Honduras': 1,
 'ZHANJIANG, CHINA': 1,
 'CALGARY, Canada': 1,
 'CURITBA, BRAZIL': 1,
 'CONCEPCION, Bolivia': 1,
 'ANTALYA, France': 1,
 'MANCHESTER, United Kingdom': 1,
 'MEXICO CITY, MEXICO': 1,
 'NIMITZ HILL, GU': 1,
 'LIMA, Peru': 1,
 'ASUNCION, Paraguay': 1,
 'COMORSO ISLANDS, Ethiopia': 1,
 'Los Cayes, Haiti': 1,
 'Taipei, Taiwan, Taiwan (Province of China)': 1,
 'Danville, CA': 1,
 'PEMIR, Latvia': 1,
 'Munich, Germany': 1,
 'Warsaw, Poland': 1,
 'Puerto Ordaz, Venezuela': 1,
 'Montauk, AO': 1,
 'Cape Coral, FL': 1,
 'Ottawa, Canada': 1,
 'Baton Rouge, LA': 1,
 'Georgetown, Guyana': 1,
 'Tangshan, China': 1,
 'Cairo, Egypt': 1,
 'Kisangani, Central Africa': 1,
 'North Bay, Canada': 1,
 'San Fransico, CA': 1,
 'Florence, SC': 1,
 'Boone, NC': 1,
 'Tao-Yuan, Taiwan (Province of China)': 1,
 'Chillicothe, MO': 1,
 'Cheltenham, MD': 1,
 'Hamburg, Germany': 1,
 'Dubuque, IA': 1,
 'Yuma, AZ': 1,
 'Akron, OH': 1,
 'Toronto, Canada': 1,
 'Modesto, CA': 1,
 'Yogyakarta, Indonesia': 1,
 'Farmersville, TX': 1,
 'Cincinnati, OH': 1,
 'Pacific Ocean, UN': 1,
 'Bowman, GA': 1,
 'Takamatsu, Japan': 1,
 'Phuket, Thailand': 1,
 'Antalya, Turkey': 1,
 'Sophia, NC': 1,
 'Sao Paulo, Brazil': 1,
 'Santo Domingo, Venezuela': 1,
 'Hilton Head, SC': 1,
 'Linz, Austria': 1,
 'Peoria, IL': 1,
 'La Serena, Chile': 1,
 'Frankfurt, Germany': 1,
 'Winnie, TX': 1,
 'CAM RANH, Vietnam, Vietnam': 1,
 'Buena Vista, CO': 1,
 'Laverne, OK': 1,
 'Angers, France': 1,
 'Millville, NJ': 1,
 'Pawnee, NE': 1,
 'ATLANTA, GA': 1,
 'Naches, WA': 1,
 'Casablanca, Morocco, Macao': 1,
 'Tripoli, Libya': 1,
 'Mitu, Colombia': 1,
 'Fort Dodge, IA': 1,
 'Brussels, Belgium': 1,
 'SURABAYA, Indonesia': 1,
 'Santa Clarita, CA': 1,
 'Beirut, Lebanon': 1,
 'Padang, Indonesia': 1,
 'St. Croix,': 1,
 'Hahn, Germany': 1,
 'New Market, WV': 1,
 'Pleasant Grove, NC': 1,
 'Manchester, United Kingdom': 1,
 'Atlanta Hartsfield Intl. Apt. (KATL), GA': 1,
 'Unknown, Argentina': 1,
 'Birgi, Trapani, Sicily, Italy, Italy': 1,
 'Inverness, FL': 1,
 'Bavaro, Las Americas': 1,
 'Norfolk, VA': 1,
 'Charleston, WV': 1,
 'Moroni, China': 1,
 'Kagoshima, Japan': 1,
 'Sydney, Australia': 1,
 'Chantilly, VA': 1,
 'Southlake, TX': 1,
 'Manglaore, India': 1,
 'North Fayston, VT': 1,
 'Madinah, Saudi Arabia': 1,
 "Ni'ihau, HI": 1,
 'Atlantic Ocean, Canada': 1,
 'Jackson Hole, WY': 1,
 'Rio De Janiero, Brazil': 1,
 'Brasilia, Brazil': 1,
 'Lisbon, Portugal, Portugal': 1,
 'Pago Pago, Antarctica': 1,
 'Montreal, Canada': 1,
 'Palermo (Sicily), Italy': 1,
 'Sacramento, CA': 1,
 'Yichun, China': 1,
 'San Andres Island, Colombia': 1,
 'Summit, MS': 1,
 'Taipei, Taiwan (Province of China)': 1,
 'Pioneer, LA': 1,
 'Amsterdam, Netherlands, Netherlands (the)': 1,
 'Girona, Spain': 1,
 'Amsterdam Schiphol IAP, Netherlands (the)': 1,
 'Southern Tip of Greenland, Denmark': 1,
 'Komatsu, Ishikawa, OF': 1}

In [4]:
import csv

In [5]:
with open('locations.csv', 'w') as f:
    w = csv.DictWriter(f, location_dict.keys())
    w.writeheader()
    w.writerow(location_dict)

In [6]:
len(location_dict.keys())

490

In [7]:
clean_locs = pd.read_csv("../Data/locations.csv")

In [8]:
df["Location"]

0                 BOSTON, MA
1                CHICAGO, IL
2                 BOSTON, MA
3           PHILADELPHIA, PA
4                ONTARIO, CA
               ...
823              Detroit, MI
824          Los Angeles, CA
825                 Manila,
826    Komatsu, Ishikawa, OF
827                Miami, FL
Name: Location, Length: 828, dtype: object

In [9]:
us_states_dict = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 
    'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 
    'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 'ID': 'Idaho', 
    'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas', 
    'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 
    'MS': 'Mississippi', 'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 
    'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 
    'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 
    'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 
    'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 
    'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 
    'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 
    'WI': 'Wisconsin', 'WY': 'Wyoming'
}

In [10]:
# Define the split_location function
def split_location(location):
    location = str(location)
    if location.upper() == 'WASHINGTON, D.C.':
        return ['Washington, D.C.', '']
    else:
        parts = location.split(', ')
        city = parts[0]
        region = ', '.join(parts[1:]) if len(parts) > 1 else ''
        return [city, region]

# Define the capitalize_words function
def capitalize_words(string):
    return ' '.join(word.capitalize() for word in string.split())

# Split 'Location' into 'City' and 'Region'
df[['City', 'Region']] = df['Location'].apply(split_location).apply(pd.Series)

# Capitalize 'City' and 'Region'
df['City'] = df['City'].apply(capitalize_words)
df['Region'] = df['Region'].apply(capitalize_words)

# Replace state abbreviations with full names
us_states = {
    # (The previously defined dictionary of state abbreviations and full names)
}

df['Region'] = df['Region'].apply(lambda x: us_states.get(x.upper(), x))

# Display the first few rows to verify the changes
print(df[['Location', 'City', 'Region']].head(50))

                Location            City      Region
0             BOSTON, MA          Boston          Ma
1            CHICAGO, IL         Chicago          Il
2             BOSTON, MA          Boston          Ma
3       PHILADELPHIA, PA    Philadelphia          Pa
4            ONTARIO, CA         Ontario          Ca
5          HARLINGEN, TX       Harlingen          Tx
6         LONG BEACH, CA      Long Beach          Ca
7         YOUNGSTOWN, OH      Youngstown          Oh
8             AUSTIN, TX          Austin          Tx
9              MIAMI, FL           Miami          Fl
10           MEMPHIS, TN         Memphis          Tn
11     SAN FRANCISCO, CA   San Francisco          Ca
12       NEAR GOSHEN, IN     Near Goshen          In
13        ATLANTIC OCEAN  Atlantic Ocean
14             BOISE, ID           Boise          Id
15          FLUSHING, NY        Flushing          Ny
16            MORTON, WY          Morton          Wy
17          FLUSHING, NY        Flushing          Ny
18            DENVER, CO          Denver          Co
19          HONOLULU, HI        Honolulu          Hi
20        WASHINGTON, DC      Washington          Dc
21           HOUSTON, TX         Houston          Tx
22            AUSTIN, TX          Austin          Tx
23            DENVER, CO          Denver          Co
24             MIAMI, FL           Miami          Fl
25            DENVER, CO          Denver          Co
26          PELLSTON, MI        Pellston          Mi
27           MEMPHIS, TN         Memphis          Tn
28        WASHINGTON, DC      Washington          Dc
29           THERMAL, CA         Thermal          Ca
30       LOS ANGELES, CA     Los Angeles          Ca
31       LOS ANGELES, CA     Los Angeles          Ca
32           NORFOLK, VA         Norfolk          Va
33           CHICAGO, IL         Chicago          Il
34       LOS ANGELES, CA     Los Angeles          Ca
35         CALVERTON, NY       Calverton          Ny
36       DURANGO, Mexico         Durango      Mexico
37  San Jose, Costa Rica        San Jose  Costa Rica
38       NR TOKYO, Japan        Nr Tokyo       Japan
39   PANAMA CITY, Panama     Panama City      Panama
40    Midway Islands, PO  Midway Islands          Po
41            BOSTON, MA          Boston          Ma
42          FLUSHING, NY        Flushing          Ny
43           JAMAICA, NY         Jamaica          Ny
44              SAN JUAN        San Juan
45              SAN JUAN        San Juan
46            NEWARK, NJ          Newark          Nj
47            NEWARK, NJ          Newark          Nj
48        BUGA, Colombia            Buga    Colombia
49         PENSACOLA, FL       Pensacola          Fl

In [11]:
df['Region'] = df['Region'].str.upper()

In [12]:
df['Region']

0                MA
1                IL
2                MA
3                PA
4                CA
           ...
823              MI
824              CA
825
826    ISHIKAWA, OF
827              FL
Name: Region, Length: 828, dtype: object

In [13]:
df['Region'] = df['Region'].map(us_states_dict).fillna(df['Region'])

In [14]:
df["Region"] = df["Region"].str.title()

In [15]:
print(df[['Location', 'City', 'Region']].head(50))

                Location            City         Region
0             BOSTON, MA          Boston  Massachusetts
1            CHICAGO, IL         Chicago       Illinois
2             BOSTON, MA          Boston  Massachusetts
3       PHILADELPHIA, PA    Philadelphia   Pennsylvania
4            ONTARIO, CA         Ontario     California
5          HARLINGEN, TX       Harlingen          Texas
6         LONG BEACH, CA      Long Beach     California
7         YOUNGSTOWN, OH      Youngstown           Ohio
8             AUSTIN, TX          Austin          Texas
9              MIAMI, FL           Miami        Florida
10           MEMPHIS, TN         Memphis      Tennessee
11     SAN FRANCISCO, CA   San Francisco     California
12       NEAR GOSHEN, IN     Near Goshen        Indiana
13        ATLANTIC OCEAN  Atlantic Ocean
14             BOISE, ID           Boise          Idaho
15          FLUSHING, NY        Flushing       New York
16            MORTON, WY          Morton        Wyoming
17          FLUSHING, NY        Flushing       New York
18            DENVER, CO          Denver       Colorado
19          HONOLULU, HI        Honolulu         Hawaii
20        WASHINGTON, DC      Washington             Dc
21           HOUSTON, TX         Houston          Texas
22            AUSTIN, TX          Austin          Texas
23            DENVER, CO          Denver       Colorado
24             MIAMI, FL           Miami        Florida
25            DENVER, CO          Denver       Colorado
26          PELLSTON, MI        Pellston       Michigan
27           MEMPHIS, TN         Memphis      Tennessee
28        WASHINGTON, DC      Washington             Dc
29           THERMAL, CA         Thermal     California
30       LOS ANGELES, CA     Los Angeles     California
31       LOS ANGELES, CA     Los Angeles     California
32           NORFOLK, VA         Norfolk       Virginia
33           CHICAGO, IL         Chicago       Illinois
34       LOS ANGELES, CA     Los Angeles     California
35         CALVERTON, NY       Calverton       New York
36       DURANGO, Mexico         Durango         Mexico
37  San Jose, Costa Rica        San Jose     Costa Rica
38       NR TOKYO, Japan        Nr Tokyo          Japan
39   PANAMA CITY, Panama     Panama City         Panama
40    Midway Islands, PO  Midway Islands             Po
41            BOSTON, MA          Boston  Massachusetts
42          FLUSHING, NY        Flushing       New York
43           JAMAICA, NY         Jamaica       New York
44              SAN JUAN        San Juan
45              SAN JUAN        San Juan
46            NEWARK, NJ          Newark     New Jersey
47            NEWARK, NJ          Newark     New Jersey
48        BUGA, Colombia            Buga       Colombia
49         PENSACOLA, FL       Pensacola        Florida

In [16]:
new_locs = df[['City', 'Region']]

In [17]:
# Specify the path for the new CSV file
new_csv_path = '../Data/clean_locs.csv'

# Save the new DataFrame to CSV
new_locs.to_csv(new_csv_path, index=False)

In [18]:
new_locs.shape

(828, 2)

In [19]:
print(df.loc[[66]])

          Event.Id Accident.Number  Event.Date Location Injury.Severity  \
66  20001211X11042      DCA99WA003  1998-09-12      NaN        Incident

   Registration.Number  Number.of.Engines Engine.Type  Total.Fatal.Injuries  \
66                 NaN                NaN     Unknown                   0.0

    Total.Serious.Injuries  Total.Minor.Injuries  Total.Uninjured  \
66                     0.0                   0.0            200.0

     Make:Model  People.Count City Region
66  Boeing: 767         200.0  Nan

In [20]:
df.shape

(828, 16)

In [21]:
clean_geo = pd.read_csv("../Data/clean_geodata.csv", index_col=False)
clean_geo.head()

           City         Region  Latitude  Longitude
0        Boston  Massachusetts   42.3188   -71.0852
1       Chicago       Illinois   41.8375   -87.6866
2        Boston  Massachusetts   42.3188   -71.0852
3  Philadelphia   Pennsylvania   40.0077   -75.1339
4       Ontario     California   34.0393  -117.6064

In [22]:
clean_geo.shape

(828, 4)

In [23]:
df.shape

(828, 16)

In [28]:
geodata_df = pd.read_csv("../Data/big_plane_geo_data.csv")

In [35]:
geodata_df = geodata_df.drop(columns="Location")

In [36]:
filepath = '../Data/big_plane_geo.csv'

# Save the new DataFrame to CSV
geodata_df.to_csv(filepath, index=False)